.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;

	img {
		width: 43px;
		height: 55px;
		margin-right: 17px;
	}

	span {
		transition: color 0.2s ease-in;
		&:hover {
			color: $accent-color;
		}
	}
}
