.product-list {
	padding-bottom: 60px;
}

.product-list__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 60px;
}
.product-list__title {
	font-family: 'Lobster Two';
	font-weight: 700;
	font-size: 45px;
	color: $main-color;
}

.product-list__img {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	width: 400px;
}
